nav {
    margin-bottom: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Alinear elementos a la derecha */
    padding: 0; /* Eliminar padding por defecto */
}

nav ul li {
    margin-left: 2rem; /* Espaciado entre los elementos de la lista */
}

nav a {
    color: var(--grey);
    text-decoration: none;
    font-size: 1.125rem;
}