@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
    margin: 0;
}

.main-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    padding-top: 40px; 
  }
  
  /* El cuadro donde está el formulario */
  main {
    max-width: 800px;
    padding: 20px;
    background: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  h1 {
    text-align: center; 
    margin-bottom: 20px; 
  }

  #add-task-button {
    display: block; 
    margin: 20px auto; 
    padding: 10px 20px; /* Espaciado interno del botón */
    background-color: #737373; /* Fondo */
    color: white; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
  }
  
  
  /* Estilo para el formulario de nueva tarea */
  #new-task-form {
    display: none; /* Mantener oculto inicialmente */
    margin-top: 20px; /* Añadir espacio arriba cuando se muestre */
    padding: 15px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-height: 150px; 
    overflow: hidden; /* Ocultar el contenido cuando el formulario esté cerrado */
  }
  
  /* Estilo cuando el formulario se despliega */
  #new-task-form.show {
    display: block; /* Mostrar el formulario */
    max-height: 1000px; /* Asegura que el formulario pueda expandirse */
    overflow: auto; 
  }
  
  /* Estilo para los campos del formulario */
  #new-task-form input,
  #new-task-form textarea,
  #new-task-form select {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .task {
    padding: 15px;
    margin: 10px 0;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 2px solid #000; 
  }
  
  .task-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* Estilo para el campo de búsqueda */
  .search-input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
  }
  
  /* Estilo para el boton de ordenar por mas urgentes */
  #sort-by-date-button {
    padding: 5px;
    font-size: 11px;
    border-radius: 12px;
    background-color: #a5a5a5; /* Fondo */
    color: white; 
    border: none;
    cursor: pointer;
}

/* Estilo para el boton de completado :) */
  .completed {
    text-decoration: line-through;
    background-color: #d1f7d1; /* Color verde claro para indicar completada */
}