{% extends "mainPage/base.html" %}
{% load static %}

{% block content %}

<h3>{{eventos.0.proyecto.nombre}}</h3>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            themeSystem: 'bootstrap5',
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'today prev,next'
            },
            events: [
                {% for evento in eventos %}
                    {
                        title: '{{ evento.nombre|safe }}',
                        start: '{{ evento.fechaInicio | date:"Y-m-d" }}',
                        end: '{{ evento.fechaFin | date:"Y-m-d" }}',
                        color: '{{ evento.ObtenerColor|safe }}',
                        borderColor: 'black',
                        extendedProps: {
                            numMiembros: '{{ evento.miembroAsignado.all.count }}',
                            proyecto: '{{ evento.proyecto.nombre|safe }}',
                            {% for miembro in evento.miembroAsignado.all %}
                                miembro{{ forloop.counter }}: '{{ miembro.username|safe }}',
                            {% endfor %}
                          },
                        description: 'aqui pondre una descripción'
                    },
                {% endfor %}
            ],
            eventClick: function(info) {
                var m1 = info.event.extendedProps.miembro1
                var m2 = info.event.extendedProps.miembro2
                var m3 = info.event.extendedProps.miembro3
                var m4 = info.event.extendedProps.miembro4
                var m5 = info.event.extendedProps.miembro5
                
                var infoHU = 'HU: ' + info.event.title + '\nProyecto perteneciente: ' 
                + info.event.extendedProps.proyecto + '\nDescripción: ' 
                + info.event.extendedProps.description

                switch (info.event.extendedProps.numMiembros) {
                    case '1':
                        alert(infoHU + '\nUsuarios responsanbles: ' + m1); 
                        break;
                    case '2':
                        alert(infoHU + '\nUsuarios responsanbles: ' + m1 + ' y ' + m2); 
                        break;
                    case '3':
                        alert(infoHU + '\nUsuarios responsanbles: ' + m1 + ', ' + m2 + ' y ' + m3); 
                        break;
                    case '4':
                        alert(infoHU + '\nUsuarios responsanbles: ' + m1 + ', ' + m2 + ', ' + m3 +' y ' + m4); 
                        break;
                    default:
                        alert(infoHU + '\nUsuarios responsanbles: ' + m1 + ', ' + m2 + ', ' + m3 + ', ' + m4 + ' y ' + m5); 
                  }
            
                // change the border color just for fun
                info.el.style.borderColor = 'red';
              },
            dayMaxEvents: true //permite  agregar lista cuando hay muchos eventos
        });
        calendar.render();
        calendar.setOption('locale','es');
    });   
</script>


<div id='calendar'></div>




{% endblock %}