{% extends "mainPage/base.html" %}
{% load static %}

{% block content %}
<p>Hola, la fecha es {{fi}}</p>
<p>Hola, la fecha final es {{ff}}</p>
<link type='text/css' rel="stylesheet" href="{% static 'css/main.css' %}">
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            themeSystem: 'bootstrap5',
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'today prev,next'
            },
            events: [
                {
                    title: 'Clase ing de software',
                    start: '{{ fi|safe }}',
                    end: '{{ ff|safe }}',
                    color: 'red',
                    borderColor: 'black',
                },
                {
                    title: 'Clase de programación',
                    start: '2024-08-30',
                    end: '2024-12-15'
                },
                {
                    title: 'Clase de programación1',
                    start: '2024-08-30',
                    end: '2024-12-15'
                },
                {
                    title: 'Clase de programación2',
                    start: '2024-08-30',
                    end: '2024-12-15'
                },
                {
                    title: 'Clase de programación3',
                    start: '2024-08-30',
                    end: '2024-12-15'
                },
                {
                    title: 'Clase de programación4',
                    start: '2024-08-30',
                    end: '2024-12-15'
                },
                {
                    title: 'Clase de programación5',
                    start: '2024-08-30',
                    end: '2024-12-15'
                }
            ],
            dayMaxEvents: true
        });
        calendar.render();
        calendar.setOption('locale','es');
    });
</script>


<div id='calendar'></div>




{% endblock %}