{% extends "mainPage/base.html" %}


{% block content %}

<div class="contenedor-calen">
    <header>
        <nav method>
            <form action="/calendario/" method="POST">
                {% csrf_token %}
                <h3>Filtros:</h3>
                <section>
                    <select name="filtro-proyecto" required>
                        <option value="">Sin seleccionar</option>
                        {% for proyecto in proyectos.all %}
                        <option value="{{proyecto.id}}">{{proyecto.nombre}}</option>
                        {% endfor %}
                    </select>
                    {% if proyFiltro %}
                    {% if proyFiltro.gestorProyecto == user %}
                    <select name="filtro-rol" required>
                        <option value="">Sin seleccionar</option>
                        <option value="1">Administrador</option>
                        <option value="2">Gestor</option>
                        <option value="3">Programador</option>
                    </select>
                    {% endif %}
                    {% endif %}
                    <input type="submit" name="filtro" value="Filtrar">
                </section>
            </form>
        </nav>
    </header>
    <main>
        <div id='calendar'></div>
    </main>
</div>



<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            themeSystem: 'bootstrap5',
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'today prev,next'
            },
            events: [
                {% for evento in eventos %}
                    {
                        title: '{{ evento.nombre|safe }}',
                        start: '{{ evento.fechaInicio | date:"Y-m-d" }}',
                        end: '{{ evento.fechaFin | date:"Y-m-d" }}',
                        color: '{{ evento.ObtenerColor|safe }}',
                        borderColor: 'black',
                        extendedProps: {
                            numMiembros: '{{ evento.miembroAsignado.all.count }}',
                            proyecto: '{{ evento.proyecto.nombre|safe }}',
                            descripcion: '{{ evento.descripcion|safe }}',
                            {% for miembro in evento.miembroAsignado.all %}
                                miembro{{ forloop.counter }}: '{{ miembro.usuario.username|safe }}',
                            {% endfor %}
                          },
                    },
                {% endfor %}
            ],
            eventClick: function(info) {
                var m1 = info.event.extendedProps.miembro1
                var m2 = info.event.extendedProps.miembro2
                var m3 = info.event.extendedProps.miembro3
                var m4 = info.event.extendedProps.miembro4
                var m5 = info.event.extendedProps.miembro5
                
                
                var infoHU = 'HU: ' + info.event.title + '\nProyecto perteneciente: ' 
                + info.event.extendedProps.proyecto + '\nDescripción: ' 
                + info.event.extendedProps.descripcion

                switch (info.event.extendedProps.numMiembros) {
                    case '1':
                        infoHU =infoHU + '\nUsuarios responsanbles:\n- ' + m1;
                        break;
                    case '2':
                        infoHU = infoHU + '\nUsuarios responsanbles:\n-' + m1 + '\n-' + m2;
                        break;
                    case '3':
                        infoHU = infoHU + '\nUsuarios responsanbles:\n-' + m1 + '\n-' + m2 + '\n-' + m3;
                        break;
                    case '4':
                        infoHU = infoHU + '\nUsuarios responsanbles:\n-' + m1 + '\n-' + m2 + '\n-' + m3 
                        +'\n-' + m4;
                        break;
                    default:
                        infoHU = infoHU + '\nUsuarios responsanbles:\n-' + m1 + '\n-' + m2 + '\n-' + m3 
                        + '\n-' + m4 + '\n-' + m5;
                  }

                  alert(infoHU);
            
                // borde de color
                info.el.style.borderColor = 'red';
              },
            dayMaxEvents: true //permite  agregar lista cuando hay muchos eventos
        });
        calendar.render();
        calendar.setOption('locale','es');
    });   
</script>


{% endblock %}