{% extends "mainPage/base.html" %}


{% block content %}

<form method="post" action="/equipo/">
    {% csrf_token %}
    <input type="submit" name="{{miembros.all.0.equipo.proyecto.nombre}}" value="Regresar">
</form>
<div class="contenido text-center">
    <h1 style='text-align:center; vertical-align:middle'>Usuarios que son miembros del equipo</h1>
    <table class="table table-hover">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Rol</th>
            <th>Eliminar</th>
        </tr>
        {% for miembro in miembros.all %}
            <tr>
                <td>{{miembro.usuario.first_name}}</td>
                <td>{{miembro.usuario.last_name}}</td>
                <td>{{miembro.usuario.rol}}</td>
                <td>
                    <form method="POST" action="/eliminarMiembro/{{id_p}}/{{ miembro.id }}/">
                        {% csrf_token %}
                        <input type="submit" name="eliminar-miembro" value="Eliminar miembro" />
                    </form>
                </td>
            </tr>
        {% endfor %}

    </table>

</div>


<div class="contenido text-center">
    <h1 style='text-align:center; vertical-align:middle'>Usuarios que puedes agregar al equipo</h1>
    <table class="table table-hover">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Rol</th>
            <th>Agregar</th>
        </tr>
        {% for candidato in candidatos %}
            <tr>
                <td>{{candidato.first_name}}</td>
                <td>{{candidato.last_name}}</td>
                <td>{{candidato.rol}}</td>
                <td>
                    <form method="POST" action="/agregarMiembro/{{id_p}}/{{ candidato.id }}/">
                        {% csrf_token %}
                        <input type="submit" name="agregar-miembro" value="Agregar miembro" />
                    </form>
                </td>
            </tr>
        {% endfor %}

    </table>

</div>

{% endblock %}