{% extends "mainPage/base.html" %}

{% block content %}
<div class="contenido" style="margin: 20px;">
    <header>
        <h2 style="text-align: center;">Editar Proyecto</h2>
    </header>
    <section style="margin-top: 20px;">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div style="text-align: center;">
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                <a href="{% url 'detalle_proyecto' proyecto.id %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </section>
</div>
{% endblock %}
