{% extends "mainPage/base.html" %}

{% block content %}
{% load static %}
<!-- <link type='text/css' rel="stylesheet" href="{% static 'css/main.css' %}"> -->
{% if request.method == 'POST' %}
<form method="get" action="/equipo/">
    <input type="submit" value="Regresar">
</form>
{% endif %}
{% if hayEquipos %}
    <div class="contenido-tabla">
            <table class="table table-hover">
                <tr>
                    <th colspan="3">Nombre del equipo</th>
                </tr>
                <tr>
                    <td colspan="3" style='text-align:center; vertical-align:middle'>{{equipo.nombre}}</td>
                </tr>
                {% for miembro in equipo.miembros.all %}
                <tr>
                    <td>Miembro {{ forloop.counter }}</td>
                    <td>{{miembro.usuario.username}}</td>
                    <td>{{miembro.rol}}</td>
                </tr>
                {% endfor %}
            </table>
        <footer>
            <nav class="nav-opciones-equipo">
                <a class="btn" href="/editarEquipo/{{ equipo.proyecto.id }}">Editar equipo</a>
                <a class="btn" href="{% url 'asignarRoles' id_proyecto=equipo.proyecto.id %}">Asignar roles</a>
            </nav>
        </footer>
    </div>

{% else %}
    <div class="container text-center">
        <h1>Proyectos disponibles:</h1>
        <table class="table table-hover">
            <tr>
                <th>Nombre del proyecto</th>
                <th>Inicio</th>
                <th>Termina</th>
            </tr>
            {% for proyecto in proyectos %}
                <tr>
                    <td>
                        <form method="post" action="/equipo/">
                            {% csrf_token %}
                            <input type="submit" name="{{proyecto.nombre}}" value="{{proyecto.nombre}}">
                        </form>
                    </td>
                    <td>{{proyecto.fechaInicio}}</td>
                    <td>{{proyecto.fechaFin}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}

{% endblock %}
