{% extends "mainPage/base.html" %}

{% block content %}

{% if request.method == 'POST' %}
<form method="get" action="/riesgos/">
    <input type="submit" value="Regresar">
</form>
{% endif %}

{% if hayProyectos %}
    {% if hayRiesgos %}

    <div class="contenido">
        <header>
            <h2>Riesgos del proyecto</h2>
        </header>
        <section>
            <table class="table" style="margin-top: 20px; border-collapse: collapse;">
                <thead>
                    <tr style="height: 50px;">
                        <th style="border: none; padding: 10px; text-align: center;" colspan="5">{{riesgos.all.0.proyecto.nombre}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for riesgo in proyecto.riesgos.all %}
                    <tr>
                        <td style="border: none; padding: 10px; text-align: center;">Riesgo {{ forloop.counter }}</td>
                        <td style="border: none; padding: 10px; text-align: center;">{{riesgo.titulo}}</td>
                        <td style="border: none; padding: 10px; text-align: center;">{{riesgo.descripcion}}</td>
                        <td style="border: none; padding: 10px; text-align: center;">{{riesgo.gravedad}}</td>
                        <td>
                            <a class="btn btn-secondary" href="/eliminarRiesgo/{{ riesgo.id }}/" style="margin-top: 20px; display: inline-block;">Eliminar riesgo</a>
                        </td>
                    </tr>
                    {% endfor %}
                    
                    
                </tbody>
            </table>
            <a class="btn btn-secondary" href="/agregarRiesgo/{{ id_proyecto }}" style="margin-top: 20px; display: inline-block;">Agregar riesgo</a>
        </section>
    </div>
    {% else %}

    <div class="contenido">
        <header>
            <h2>Riesgos del proyecto</h2>
        </header>
        <section>
            <table class="table" style="margin-top: 20px; border-collapse: collapse;">
                <thead>
                    <tr style="height: 50px;">
                        <th style="border: none; padding: 10px; text-align: center;" colspan="1">Nombre del equipo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="height: 60px;">
                        <td style="border: none; padding: 10px; text-align: center;" colspan="1">No se encontraron riesgos en este proyecto</td>
                    </tr>
                </tbody>
            </table>
        <a class="btn btn-secondary" href="/agregarRiesgo/{{id_proyecto}}" style="margin-top: 20px; display: inline-block;">Agregar riesgos</a>
        </section>
    </div>



    {% endif %}

{% else %}
    <div class="container text-center">
        <h1>Proyectos disponibles:</h1>
        <table class="table table-hover">
            <tr>
                <th>Nombre del proyecto</th>
                <th>Inicio</th>
                <th>Termina</th>
            </tr>
            {% for proyecto in proyectos %}
                <tr>
                    <td>
                        <form method="post" action="/riesgos/">
                            {% csrf_token %}
                            <input type="submit" name="{{proyecto.nombre}}" value="{{proyecto.nombre}}">
                        </form>
                    </td>
                    <td>{{proyecto.fechaInicio}}</td>
                    <td>{{proyecto.fechaFin}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
<style>
    .contenido {
        margin: 20px 0;
    }

    .table {
        width: 100%;
        margin: 20px auto; 
        border-collapse: collapse; 
        border-bottom: 1px solid black;
    }
    .table tr{
        border-bottom: 1px solid black;
    }

    .table th, .table td {
        border: none; 
        padding: 15px; 
        text-align: center;
    }

    .btn {
        margin-top: 10px; 
    }

    tr.bordered {
        border-bottom: 1px solid #000;
    }    
</style>
{% endblock %}

